node_modules/
.env
.env.local
.env.*.local
logs/
*.log
npm-debug.log*
frontend/build/
backend/dist/
backend/database/*.db
backend/database/uploads/
REVISION-MODULO-2.md
.DS_Store #si tienes macOS
Thumbs.db
.vscode/
.idea/
.claude/